@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap');

.font-lato{
    font-family: 'Lato', sans-serif;
}
.font-dance{
    font-family: 'Dancing Script', cursive;
}
.font-pacifico{
  font-family: "Pacifico", cursive;
}
.font-genos{
  font-family: "Genos", sans-serif;
  font-optical-sizing: auto;
}

*{
  scroll-behavior: smooth;
}

/*--------------star animation--------------------*/

body {
  background-color: #0e0e0e;
    margin: 0;
    /* overflow: hidden; */
  }
  #stars {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 50s linear infinite;
    box-shadow: 779px 1331px #c9c9c9, 324px 42px #c9c9c9, 303px 586px #c9c9c9,
    1312px 276px #c9c9c9, 451px 625px #c9c9c9, 521px 1931px #c9c9c9, 1087px 1871px #c9c9c9,
    36px 1546px #c9c9c9, 132px 934px #c9c9c9, 1698px 901px #c9c9c9, 1418px 664px #c9c9c9,
    1448px 1157px #c9c9c9, 1084px 232px #c9c9c9, 347px 1776px #c9c9c9, 1722px 243px #c9c9c9,
    1629px 835px #c9c9c9, 479px 969px #c9c9c9, 1231px 960px #c9c9c9, 586px 384px #c9c9c9,
    164px 527px #c9c9c9, 8px 646px #c9c9c9, 1150px 1126px #c9c9c9, 665px 1357px #c9c9c9,
    1556px 1982px #c9c9c9, 1260px 1961px #c9c9c9, 1675px 1741px #c9c9c9,
    1843px 1514px #c9c9c9, 718px 1628px #c9c9c9, 242px 1343px #c9c9c9, 1497px 1880px #c9c9c9,
    1364px 230px #c9c9c9, 1739px 1302px #c9c9c9, 636px 959px #c9c9c9, 304px 686px #c9c9c9,
    614px 751px #c9c9c9, 1935px 816px #c9c9c9, 1428px 60px #c9c9c9, 355px 335px #c9c9c9,
    1594px 158px #c9c9c9, 90px 60px #c9c9c9, 1553px 162px #c9c9c9, 1239px 1825px #c9c9c9,
    1945px 587px #c9c9c9, 749px 1785px #c9c9c9, 1987px 1172px #c9c9c9, 1301px 1237px #c9c9c9,
    1039px 342px #c9c9c9, 1585px 1481px #c9c9c9, 995px 1048px #c9c9c9, 524px 932px #c9c9c9,
    214px 413px #c9c9c9, 1701px 1300px #c9c9c9, 1037px 1613px #c9c9c9, 1871px 996px #c9c9c9,
    1360px 1635px #c9c9c9, 1110px 1313px #c9c9c9, 412px 1783px #c9c9c9, 1949px 177px #c9c9c9,
    903px 1854px #c9c9c9, 700px 1936px #c9c9c9, 378px 125px #c9c9c9, 308px 834px #c9c9c9,
    1118px 962px #c9c9c9, 1350px 1929px #c9c9c9, 781px 1811px #c9c9c9, 561px 137px #c9c9c9,
    757px 1148px #c9c9c9, 1670px 1979px #c9c9c9, 343px 739px #c9c9c9, 945px 795px #c9c9c9,
    576px 1903px #c9c9c9, 1078px 1436px #c9c9c9, 1583px 450px #c9c9c9, 1366px 474px #c9c9c9,
    297px 1873px #c9c9c9, 192px 162px #c9c9c9, 1624px 1633px #c9c9c9, 59px 453px #c9c9c9,
    82px 1872px #c9c9c9, 1933px 498px #c9c9c9, 1966px 1974px #c9c9c9, 1975px 1688px #c9c9c9,
    779px 314px #c9c9c9, 1858px 1543px #c9c9c9, 73px 1507px #c9c9c9, 1693px 975px #c9c9c9,
    1683px 108px #c9c9c9, 1768px 1654px #c9c9c9, 654px 14px #c9c9c9, 494px 171px #c9c9c9,
    1689px 1895px #c9c9c9, 1660px 263px #c9c9c9, 1031px 903px #c9c9c9, 1203px 1393px #c9c9c9,
    1333px 1421px #c9c9c9, 1113px 41px #c9c9c9, 1206px 1645px #c9c9c9, 1325px 1635px #c9c9c9,
    142px 388px #c9c9c9, 572px 215px #c9c9c9, 1535px 296px #c9c9c9, 1419px 407px #c9c9c9,
    1379px 1003px #c9c9c9, 329px 469px #c9c9c9, 1791px 1652px #c9c9c9, 935px 1802px #c9c9c9,
    1330px 1820px #c9c9c9, 421px 1933px #c9c9c9, 828px 365px #c9c9c9, 275px 316px #c9c9c9,
    707px 960px #c9c9c9, 1605px 1554px #c9c9c9, 625px 58px #c9c9c9, 717px 1697px #c9c9c9,
    1669px 246px #c9c9c9, 1925px 322px #c9c9c9, 1154px 1803px #c9c9c9, 1929px 295px #c9c9c9,
    1248px 240px #c9c9c9, 1045px 1755px #c9c9c9, 166px 942px #c9c9c9, 1888px 1773px #c9c9c9,
    678px 1963px #c9c9c9, 1370px 569px #c9c9c9, 1974px 1400px #c9c9c9, 1786px 460px #c9c9c9,
    51px 307px #c9c9c9, 784px 1400px #c9c9c9, 730px 1258px #c9c9c9, 1712px 393px #c9c9c9,
    416px 170px #c9c9c9, 1797px 1932px #c9c9c9, 572px 219px #c9c9c9, 1557px 1856px #c9c9c9,
    218px 8px #c9c9c9, 348px 1334px #c9c9c9, 469px 413px #c9c9c9, 385px 1738px #c9c9c9,
    1357px 1818px #c9c9c9, 240px 942px #c9c9c9, 248px 1847px #c9c9c9, 1535px 806px #c9c9c9,
    236px 1514px #c9c9c9, 1429px 1556px #c9c9c9, 73px 1633px #c9c9c9, 1398px 1121px #c9c9c9,
    671px 1301px #c9c9c9, 1404px 1663px #c9c9c9, 740px 1018px #c9c9c9, 1600px 377px #c9c9c9,
    785px 514px #c9c9c9, 112px 1084px #c9c9c9, 1915px 1887px #c9c9c9, 1463px 1848px #c9c9c9,
    687px 1115px #c9c9c9, 1268px 1768px #c9c9c9, 1729px 1425px #c9c9c9,
    1284px 1022px #c9c9c9, 801px 974px #c9c9c9, 1975px 1317px #c9c9c9, 1354px 834px #c9c9c9,
    1446px 1484px #c9c9c9, 1283px 1786px #c9c9c9, 11px 523px #c9c9c9, 1842px 236px #c9c9c9,
    1355px 654px #c9c9c9, 429px 7px #c9c9c9, 1033px 1128px #c9c9c9, 157px 297px #c9c9c9,
    545px 635px #c9c9c9, 52px 1080px #c9c9c9, 827px 1520px #c9c9c9, 1121px 490px #c9c9c9,
    9px 309px #c9c9c9, 1744px 1586px #c9c9c9, 1014px 417px #c9c9c9, 1534px 524px #c9c9c9,
    958px 552px #c9c9c9, 1403px 1496px #c9c9c9, 387px 703px #c9c9c9, 1522px 548px #c9c9c9,
    1355px 282px #c9c9c9, 1532px 601px #c9c9c9, 1838px 790px #c9c9c9, 290px 259px #c9c9c9,
    295px 598px #c9c9c9, 1601px 539px #c9c9c9, 1561px 1272px #c9c9c9, 34px 1922px #c9c9c9,
    1024px 543px #c9c9c9, 467px 369px #c9c9c9, 722px 333px #c9c9c9, 1976px 1255px #c9c9c9,
    766px 983px #c9c9c9, 1582px 1285px #c9c9c9, 12px 512px #c9c9c9, 617px 1410px #c9c9c9,
    682px 577px #c9c9c9, 1334px 1438px #c9c9c9, 439px 327px #c9c9c9, 1617px 1661px #c9c9c9,
    673px 129px #c9c9c9, 794px 941px #c9c9c9, 1386px 1902px #c9c9c9, 37px 1353px #c9c9c9,
    1467px 1353px #c9c9c9, 416px 18px #c9c9c9, 187px 344px #c9c9c9, 200px 1898px #c9c9c9,
    1491px 1619px #c9c9c9, 811px 347px #c9c9c9, 924px 1827px #c9c9c9, 945px 217px #c9c9c9,
    1735px 1228px #c9c9c9, 379px 1890px #c9c9c9, 79px 761px #c9c9c9, 825px 1837px #c9c9c9,
    1980px 1558px #c9c9c9, 1308px 1573px #c9c9c9, 1488px 1726px #c9c9c9,
    382px 1208px #c9c9c9, 522px 595px #c9c9c9, 1277px 1898px #c9c9c9, 354px 552px #c9c9c9,
    161px 1784px #c9c9c9, 614px 251px #c9c9c9, 526px 1576px #c9c9c9, 17px 212px #c9c9c9,
    179px 996px #c9c9c9, 467px 1208px #c9c9c9, 1944px 1838px #c9c9c9, 1140px 1093px #c9c9c9,
    858px 1007px #c9c9c9, 200px 1064px #c9c9c9, 423px 1964px #c9c9c9, 1945px 439px #c9c9c9,
    1377px 689px #c9c9c9, 1120px 1437px #c9c9c9, 1876px 668px #c9c9c9, 907px 1324px #c9c9c9,
    343px 1976px #c9c9c9, 1816px 1501px #c9c9c9, 1849px 177px #c9c9c9, 647px 91px #c9c9c9,
    1984px 1012px #c9c9c9, 1336px 1300px #c9c9c9, 128px 648px #c9c9c9, 305px 1060px #c9c9c9,
    1324px 826px #c9c9c9, 1263px 1314px #c9c9c9, 1801px 629px #c9c9c9, 1614px 1555px #c9c9c9,
    1634px 90px #c9c9c9, 1603px 452px #c9c9c9, 891px 1984px #c9c9c9, 1556px 1906px #c9c9c9,
    121px 68px #c9c9c9, 1676px 1714px #c9c9c9, 516px 936px #c9c9c9, 1947px 1492px #c9c9c9,
    1455px 1519px #c9c9c9, 45px 602px #c9c9c9, 205px 1039px #c9c9c9, 793px 172px #c9c9c9,
    1562px 1739px #c9c9c9, 1056px 110px #c9c9c9, 1512px 379px #c9c9c9, 1795px 1621px #c9c9c9,
    1848px 607px #c9c9c9, 262px 1719px #c9c9c9, 477px 991px #c9c9c9, 483px 883px #c9c9c9,
    1239px 1197px #c9c9c9, 1496px 647px #c9c9c9, 1649px 25px #c9c9c9, 1491px 1946px #c9c9c9,
    119px 996px #c9c9c9, 179px 1472px #c9c9c9, 1341px 808px #c9c9c9, 1565px 1700px #c9c9c9,
    407px 1544px #c9c9c9, 1754px 357px #c9c9c9, 1288px 981px #c9c9c9, 902px 1997px #c9c9c9,
    1755px 1668px #c9c9c9, 186px 877px #c9c9c9, 1202px 1882px #c9c9c9, 461px 1213px #c9c9c9,
    1400px 748px #c9c9c9, 1969px 1899px #c9c9c9, 809px 522px #c9c9c9, 514px 1219px #c9c9c9,
    374px 275px #c9c9c9, 938px 1973px #c9c9c9, 357px 552px #c9c9c9, 144px 1722px #c9c9c9,
    1572px 912px #c9c9c9, 402px 1858px #c9c9c9, 1544px 1195px #c9c9c9, 667px 1257px #c9c9c9,
    727px 1496px #c9c9c9, 993px 232px #c9c9c9, 1772px 313px #c9c9c9, 1040px 1590px #c9c9c9,
    1204px 1973px #c9c9c9, 1268px 79px #c9c9c9, 1555px 1048px #c9c9c9, 986px 1707px #c9c9c9,
    978px 1710px #c9c9c9, 713px 360px #c9c9c9, 407px 863px #c9c9c9, 461px 736px #c9c9c9,
    284px 1608px #c9c9c9, 103px 430px #c9c9c9, 1283px 1319px #c9c9c9, 977px 1186px #c9c9c9,
    1966px 1516px #c9c9c9, 1287px 1129px #c9c9c9, 70px 1098px #c9c9c9, 1189px 889px #c9c9c9,
    1126px 1734px #c9c9c9, 309px 1292px #c9c9c9, 879px 764px #c9c9c9, 65px 473px #c9c9c9,
    1003px 1959px #c9c9c9, 658px 791px #c9c9c9, 402px 1576px #c9c9c9, 35px 622px #c9c9c9,
    529px 1589px #c9c9c9, 164px 666px #c9c9c9, 1876px 1290px #c9c9c9, 1541px 526px #c9c9c9,
    270px 1297px #c9c9c9, 440px 865px #c9c9c9, 1500px 802px #c9c9c9, 182px 1754px #c9c9c9,
    1264px 892px #c9c9c9, 272px 1249px #c9c9c9, 1289px 1535px #c9c9c9, 190px 1646px #c9c9c9,
    955px 242px #c9c9c9, 1456px 1597px #c9c9c9, 1727px 1983px #c9c9c9, 635px 801px #c9c9c9,
    226px 455px #c9c9c9, 1396px 1710px #c9c9c9, 849px 1863px #c9c9c9, 237px 1264px #c9c9c9,
    839px 140px #c9c9c9, 1122px 735px #c9c9c9, 1280px 15px #c9c9c9, 1318px 242px #c9c9c9,
    1819px 1148px #c9c9c9, 333px 1392px #c9c9c9, 1949px 553px #c9c9c9, 1878px 1332px #c9c9c9,
    467px 548px #c9c9c9, 1812px 1082px #c9c9c9, 1067px 193px #c9c9c9, 243px 156px #c9c9c9,
    483px 1616px #c9c9c9, 1714px 933px #c9c9c9, 759px 1800px #c9c9c9, 1822px 995px #c9c9c9,
    1877px 572px #c9c9c9, 581px 1084px #c9c9c9, 107px 732px #c9c9c9, 642px 1837px #c9c9c9,
    166px 1493px #c9c9c9, 1555px 198px #c9c9c9, 819px 307px #c9c9c9, 947px 345px #c9c9c9,
    827px 224px #c9c9c9, 927px 1394px #c9c9c9, 540px 467px #c9c9c9, 1093px 405px #c9c9c9,
    1140px 927px #c9c9c9, 130px 529px #c9c9c9, 33px 1980px #c9c9c9, 1147px 1663px #c9c9c9,
    1616px 1436px #c9c9c9, 528px 710px #c9c9c9, 798px 1100px #c9c9c9, 505px 1480px #c9c9c9,
    899px 641px #c9c9c9, 1909px 1949px #c9c9c9, 1311px 964px #c9c9c9, 979px 1301px #c9c9c9,
    1393px 969px #c9c9c9, 1793px 1886px #c9c9c9, 292px 357px #c9c9c9, 1196px 1718px #c9c9c9,
    1290px 1994px #c9c9c9, 537px 1973px #c9c9c9, 1181px 1674px #c9c9c9,
    1740px 1566px #c9c9c9, 1307px 265px #c9c9c9, 922px 522px #c9c9c9, 1892px 472px #c9c9c9,
    384px 1746px #c9c9c9, 392px 1098px #c9c9c9, 647px 548px #c9c9c9, 390px 1498px #c9c9c9,
    1246px 138px #c9c9c9, 730px 876px #c9c9c9, 192px 1472px #c9c9c9, 1790px 1789px #c9c9c9,
    928px 311px #c9c9c9, 1253px 1647px #c9c9c9, 747px 1921px #c9c9c9, 1561px 1025px #c9c9c9,
    1533px 1292px #c9c9c9, 1985px 195px #c9c9c9, 728px 729px #c9c9c9, 1712px 1936px #c9c9c9,
    512px 1717px #c9c9c9, 1528px 483px #c9c9c9, 313px 1642px #c9c9c9, 281px 1849px #c9c9c9,
    1212px 799px #c9c9c9, 435px 1191px #c9c9c9, 1422px 611px #c9c9c9, 1718px 1964px #c9c9c9,
    411px 944px #c9c9c9, 210px 636px #c9c9c9, 1502px 1295px #c9c9c9, 1434px 349px #c9c9c9,
    769px 60px #c9c9c9, 747px 1053px #c9c9c9, 789px 504px #c9c9c9, 1436px 1264px #c9c9c9,
    1893px 1225px #c9c9c9, 1394px 1788px #c9c9c9, 1108px 1317px #c9c9c9,
    1673px 1395px #c9c9c9, 854px 1010px #c9c9c9, 1705px 80px #c9c9c9, 1858px 148px #c9c9c9,
    1729px 344px #c9c9c9, 1388px 664px #c9c9c9, 895px 406px #c9c9c9, 1479px 157px #c9c9c9,
    1441px 1157px #c9c9c9, 552px 1900px #c9c9c9, 516px 364px #c9c9c9, 1647px 189px #c9c9c9,
    1427px 1071px #c9c9c9, 785px 729px #c9c9c9, 1080px 1710px #c9c9c9, 504px 204px #c9c9c9,
    1177px 1622px #c9c9c9, 657px 34px #c9c9c9, 1296px 1099px #c9c9c9, 248px 180px #c9c9c9,
    1212px 1568px #c9c9c9, 667px 1562px #c9c9c9, 695px 841px #c9c9c9, 1608px 1247px #c9c9c9,
    751px 882px #c9c9c9, 87px 167px #c9c9c9, 607px 1368px #c9c9c9, 1363px 1203px #c9c9c9,
    1836px 317px #c9c9c9, 1668px 1703px #c9c9c9, 830px 1154px #c9c9c9, 1721px 1398px #c9c9c9,
    1601px 1280px #c9c9c9, 976px 874px #c9c9c9, 1743px 254px #c9c9c9, 1020px 1815px #c9c9c9,
    1670px 1766px #c9c9c9, 1890px 735px #c9c9c9, 1379px 136px #c9c9c9, 1864px 695px #c9c9c9,
    206px 965px #c9c9c9, 1404px 1932px #c9c9c9, 1923px 1360px #c9c9c9, 247px 682px #c9c9c9,
    519px 1708px #c9c9c9, 645px 750px #c9c9c9, 1164px 1204px #c9c9c9, 834px 323px #c9c9c9,
    172px 1350px #c9c9c9, 213px 972px #c9c9c9, 1837px 190px #c9c9c9, 285px 1806px #c9c9c9,
    1047px 1299px #c9c9c9, 1548px 825px #c9c9c9, 1730px 324px #c9c9c9, 1346px 1909px #c9c9c9,
    772px 270px #c9c9c9, 345px 1190px #c9c9c9, 478px 1433px #c9c9c9, 1479px 25px #c9c9c9,
    1994px 1830px #c9c9c9, 1744px 732px #c9c9c9, 20px 1635px #c9c9c9, 690px 1795px #c9c9c9,
    1594px 569px #c9c9c9, 579px 245px #c9c9c9, 1398px 733px #c9c9c9, 408px 1352px #c9c9c9,
    1774px 120px #c9c9c9, 1152px 1370px #c9c9c9, 1698px 1810px #c9c9c9, 710px 1450px #c9c9c9,
    665px 286px #c9c9c9, 493px 1720px #c9c9c9, 786px 5px #c9c9c9, 637px 1140px #c9c9c9,
    764px 324px #c9c9c9, 927px 310px #c9c9c9, 938px 1424px #c9c9c9, 1884px 744px #c9c9c9,
    913px 462px #c9c9c9, 1831px 1936px #c9c9c9, 1527px 249px #c9c9c9, 36px 1381px #c9c9c9,
    1597px 581px #c9c9c9, 1530px 355px #c9c9c9, 949px 459px #c9c9c9, 799px 828px #c9c9c9,
    242px 1471px #c9c9c9, 654px 797px #c9c9c9, 796px 594px #c9c9c9, 1365px 678px #c9c9c9,
    752px 23px #c9c9c9, 1630px 541px #c9c9c9, 982px 72px #c9c9c9, 1733px 1831px #c9c9c9,
    21px 412px #c9c9c9, 775px 998px #c9c9c9, 335px 1945px #c9c9c9, 264px 583px #c9c9c9,
    158px 1311px #c9c9c9, 528px 164px #c9c9c9, 1978px 574px #c9c9c9, 717px 1203px #c9c9c9,
    734px 1591px #c9c9c9, 1555px 820px #c9c9c9, 16px 1943px #c9c9c9, 1625px 1177px #c9c9c9,
    1236px 690px #c9c9c9, 1585px 1590px #c9c9c9, 1737px 1728px #c9c9c9, 721px 698px #c9c9c9,
    1804px 1186px #c9c9c9, 166px 980px #c9c9c9, 1850px 230px #c9c9c9, 330px 1712px #c9c9c9,
    95px 797px #c9c9c9, 1948px 1078px #c9c9c9, 469px 939px #c9c9c9, 1269px 1899px #c9c9c9,
    955px 1220px #c9c9c9, 1137px 1075px #c9c9c9, 312px 1293px #c9c9c9, 986px 1762px #c9c9c9,
    1103px 1238px #c9c9c9, 428px 1993px #c9c9c9, 355px 570px #c9c9c9, 977px 1836px #c9c9c9,
    1395px 1092px #c9c9c9, 276px 913px #c9c9c9, 1743px 656px #c9c9c9, 773px 502px #c9c9c9,
    1686px 1322px #c9c9c9, 1516px 1945px #c9c9c9, 1334px 501px #c9c9c9, 266px 156px #c9c9c9,
    455px 655px #c9c9c9, 798px 72px #c9c9c9, 1059px 1259px #c9c9c9, 1402px 1687px #c9c9c9,
    236px 1329px #c9c9c9, 1455px 786px #c9c9c9, 146px 1228px #c9c9c9, 1851px 823px #c9c9c9,
    1062px 100px #c9c9c9, 1220px 953px #c9c9c9, 20px 1826px #c9c9c9, 36px 1063px #c9c9c9,
    1525px 338px #c9c9c9, 790px 1521px #c9c9c9, 741px 1099px #c9c9c9, 288px 1489px #c9c9c9,
    700px 1060px #c9c9c9, 390px 1071px #c9c9c9, 411px 1036px #c9c9c9, 1853px 1072px #c9c9c9,
    1446px 1085px #c9c9c9, 1164px 874px #c9c9c9, 924px 925px #c9c9c9, 291px 271px #c9c9c9,
    1257px 1964px #c9c9c9, 1580px 1352px #c9c9c9, 1507px 1216px #c9c9c9, 211px 956px #c9c9c9,
    985px 1195px #c9c9c9, 975px 1640px #c9c9c9, 518px 101px #c9c9c9, 663px 1395px #c9c9c9,
    914px 532px #c9c9c9, 145px 1320px #c9c9c9, 69px 1397px #c9c9c9, 982px 523px #c9c9c9,
    257px 725px #c9c9c9, 1599px 831px #c9c9c9, 1636px 1513px #c9c9c9, 1250px 1158px #c9c9c9,
    1132px 604px #c9c9c9, 183px 102px #c9c9c9, 1057px 318px #c9c9c9, 1247px 1835px #c9c9c9,
    1983px 1110px #c9c9c9, 1077px 1455px #c9c9c9, 921px 1770px #c9c9c9, 806px 1350px #c9c9c9,
    1938px 1992px #c9c9c9, 855px 1260px #c9c9c9, 902px 1345px #c9c9c9, 658px 1908px #c9c9c9,
    1845px 679px #c9c9c9, 712px 1482px #c9c9c9, 595px 950px #c9c9c9, 1784px 1992px #c9c9c9,
    1847px 1785px #c9c9c9, 691px 1004px #c9c9c9, 175px 1179px #c9c9c9, 1666px 1911px #c9c9c9,
    41px 61px #c9c9c9, 971px 1080px #c9c9c9, 1830px 1450px #c9c9c9, 1351px 1518px #c9c9c9,
    1257px 99px #c9c9c9, 1395px 1498px #c9c9c9, 1117px 252px #c9c9c9, 1779px 597px #c9c9c9,
    1346px 729px #c9c9c9, 1108px 1144px #c9c9c9, 402px 691px #c9c9c9, 72px 496px #c9c9c9,
    1673px 1604px #c9c9c9, 1497px 974px #c9c9c9, 1865px 1664px #c9c9c9, 88px 806px #c9c9c9,
    918px 77px #c9c9c9, 244px 1118px #c9c9c9, 256px 1820px #c9c9c9, 1851px 1840px #c9c9c9,
    605px 1851px #c9c9c9, 634px 383px #c9c9c9, 865px 37px #c9c9c9, 943px 1024px #c9c9c9,
    1951px 177px #c9c9c9, 1097px 523px #c9c9c9, 985px 1700px #c9c9c9, 1243px 122px #c9c9c9,
    768px 1070px #c9c9c9, 468px 194px #c9c9c9, 320px 1867px #c9c9c9, 1850px 185px #c9c9c9,
    380px 1616px #c9c9c9, 468px 1294px #c9c9c9, 1122px 1743px #c9c9c9, 884px 299px #c9c9c9,
    1300px 1917px #c9c9c9, 1860px 396px #c9c9c9, 1270px 990px #c9c9c9, 529px 733px #c9c9c9,
    1975px 1347px #c9c9c9, 1885px 685px #c9c9c9, 226px 506px #c9c9c9, 651px 878px #c9c9c9,
    1323px 680px #c9c9c9, 1284px 680px #c9c9c9, 238px 1967px #c9c9c9, 911px 174px #c9c9c9,
    1111px 521px #c9c9c9, 1150px 85px #c9c9c9, 794px 502px #c9c9c9, 484px 1856px #c9c9c9,
    1809px 368px #c9c9c9, 112px 953px #c9c9c9, 590px 1009px #c9c9c9, 1655px 311px #c9c9c9,
    100px 1026px #c9c9c9, 1803px 352px #c9c9c9, 865px 306px #c9c9c9, 1077px 1019px #c9c9c9,
    1335px 872px #c9c9c9, 1647px 1298px #c9c9c9, 1233px 1387px #c9c9c9, 698px 1036px #c9c9c9,
    659px 1860px #c9c9c9, 388px 1412px #c9c9c9, 1212px 458px #c9c9c9, 755px 1468px #c9c9c9,
    696px 1654px #c9c9c9, 1144px 60px #c9c9c9;
}

#stars:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 779px 1331px #c9c9c9, 324px 42px #c9c9c9, 303px 586px #c9c9c9,
    1312px 276px #c9c9c9, 451px 625px #c9c9c9, 521px 1931px #c9c9c9, 1087px 1871px #c9c9c9,
    36px 1546px #c9c9c9, 132px 934px #c9c9c9, 1698px 901px #c9c9c9, 1418px 664px #c9c9c9,
    1448px 1157px #c9c9c9, 1084px 232px #c9c9c9, 347px 1776px #c9c9c9, 1722px 243px #c9c9c9,
    1629px 835px #c9c9c9, 479px 969px #c9c9c9, 1231px 960px #c9c9c9, 586px 384px #c9c9c9,
    164px 527px #c9c9c9, 8px 646px #c9c9c9, 1150px 1126px #c9c9c9, 665px 1357px #c9c9c9,
    1556px 1982px #c9c9c9, 1260px 1961px #c9c9c9, 1675px 1741px #c9c9c9,
    1843px 1514px #c9c9c9, 718px 1628px #c9c9c9, 242px 1343px #c9c9c9, 1497px 1880px #c9c9c9,
    1364px 230px #c9c9c9, 1739px 1302px #c9c9c9, 636px 959px #c9c9c9, 304px 686px #c9c9c9,
    614px 751px #c9c9c9, 1935px 816px #c9c9c9, 1428px 60px #c9c9c9, 355px 335px #c9c9c9,
    1594px 158px #c9c9c9, 90px 60px #c9c9c9, 1553px 162px #c9c9c9, 1239px 1825px #c9c9c9,
    1945px 587px #c9c9c9, 749px 1785px #c9c9c9, 1987px 1172px #c9c9c9, 1301px 1237px #c9c9c9,
    1039px 342px #c9c9c9, 1585px 1481px #c9c9c9, 995px 1048px #c9c9c9, 524px 932px #c9c9c9,
    214px 413px #c9c9c9, 1701px 1300px #c9c9c9, 1037px 1613px #c9c9c9, 1871px 996px #c9c9c9,
    1360px 1635px #c9c9c9, 1110px 1313px #c9c9c9, 412px 1783px #c9c9c9, 1949px 177px #c9c9c9,
    903px 1854px #c9c9c9, 700px 1936px #c9c9c9, 378px 125px #c9c9c9, 308px 834px #c9c9c9,
    1118px 962px #c9c9c9, 1350px 1929px #c9c9c9, 781px 1811px #c9c9c9, 561px 137px #c9c9c9,
    757px 1148px #c9c9c9, 1670px 1979px #c9c9c9, 343px 739px #c9c9c9, 945px 795px #c9c9c9,
    576px 1903px #c9c9c9, 1078px 1436px #c9c9c9, 1583px 450px #c9c9c9, 1366px 474px #c9c9c9,
    297px 1873px #c9c9c9, 192px 162px #c9c9c9, 1624px 1633px #c9c9c9, 59px 453px #c9c9c9,
    82px 1872px #c9c9c9, 1933px 498px #c9c9c9, 1966px 1974px #c9c9c9, 1975px 1688px #c9c9c9,
    779px 314px #c9c9c9, 1858px 1543px #c9c9c9, 73px 1507px #c9c9c9, 1693px 975px #c9c9c9,
    1683px 108px #c9c9c9, 1768px 1654px #c9c9c9, 654px 14px #c9c9c9, 494px 171px #c9c9c9,
    1689px 1895px #c9c9c9, 1660px 263px #c9c9c9, 1031px 903px #c9c9c9, 1203px 1393px #c9c9c9,
    1333px 1421px #c9c9c9, 1113px 41px #c9c9c9, 1206px 1645px #c9c9c9, 1325px 1635px #c9c9c9,
    142px 388px #c9c9c9, 572px 215px #c9c9c9, 1535px 296px #c9c9c9, 1419px 407px #c9c9c9,
    1379px 1003px #c9c9c9, 329px 469px #c9c9c9, 1791px 1652px #c9c9c9, 935px 1802px #c9c9c9,
    1330px 1820px #c9c9c9, 421px 1933px #c9c9c9, 828px 365px #c9c9c9, 275px 316px #c9c9c9,
    707px 960px #c9c9c9, 1605px 1554px #c9c9c9, 625px 58px #c9c9c9, 717px 1697px #c9c9c9,
    1669px 246px #c9c9c9, 1925px 322px #c9c9c9, 1154px 1803px #c9c9c9, 1929px 295px #c9c9c9,
    1248px 240px #c9c9c9, 1045px 1755px #c9c9c9, 166px 942px #c9c9c9, 1888px 1773px #c9c9c9,
    678px 1963px #c9c9c9, 1370px 569px #c9c9c9, 1974px 1400px #c9c9c9, 1786px 460px #c9c9c9,
    51px 307px #c9c9c9, 784px 1400px #c9c9c9, 730px 1258px #c9c9c9, 1712px 393px #c9c9c9,
    416px 170px #c9c9c9, 1797px 1932px #c9c9c9, 572px 219px #c9c9c9, 1557px 1856px #c9c9c9,
    218px 8px #c9c9c9, 348px 1334px #c9c9c9, 469px 413px #c9c9c9, 385px 1738px #c9c9c9,
    1357px 1818px #c9c9c9, 240px 942px #c9c9c9, 248px 1847px #c9c9c9, 1535px 806px #c9c9c9,
    236px 1514px #c9c9c9, 1429px 1556px #c9c9c9, 73px 1633px #c9c9c9, 1398px 1121px #c9c9c9,
    671px 1301px #c9c9c9, 1404px 1663px #c9c9c9, 740px 1018px #c9c9c9, 1600px 377px #c9c9c9,
    785px 514px #c9c9c9, 112px 1084px #c9c9c9, 1915px 1887px #c9c9c9, 1463px 1848px #c9c9c9,
    687px 1115px #c9c9c9, 1268px 1768px #c9c9c9, 1729px 1425px #c9c9c9,
    1284px 1022px #c9c9c9, 801px 974px #c9c9c9, 1975px 1317px #c9c9c9, 1354px 834px #c9c9c9,
    1446px 1484px #c9c9c9, 1283px 1786px #c9c9c9, 11px 523px #c9c9c9, 1842px 236px #c9c9c9,
    1355px 654px #c9c9c9, 429px 7px #c9c9c9, 1033px 1128px #c9c9c9, 157px 297px #c9c9c9,
    545px 635px #c9c9c9, 52px 1080px #c9c9c9, 827px 1520px #c9c9c9, 1121px 490px #c9c9c9,
    9px 309px #c9c9c9, 1744px 1586px #c9c9c9, 1014px 417px #c9c9c9, 1534px 524px #c9c9c9,
    958px 552px #c9c9c9, 1403px 1496px #c9c9c9, 387px 703px #c9c9c9, 1522px 548px #c9c9c9,
    1355px 282px #c9c9c9, 1532px 601px #c9c9c9, 1838px 790px #c9c9c9, 290px 259px #c9c9c9,
    295px 598px #c9c9c9, 1601px 539px #c9c9c9, 1561px 1272px #c9c9c9, 34px 1922px #c9c9c9,
    1024px 543px #c9c9c9, 467px 369px #c9c9c9, 722px 333px #c9c9c9, 1976px 1255px #c9c9c9,
    766px 983px #c9c9c9, 1582px 1285px #c9c9c9, 12px 512px #c9c9c9, 617px 1410px #c9c9c9,
    682px 577px #c9c9c9, 1334px 1438px #c9c9c9, 439px 327px #c9c9c9, 1617px 1661px #c9c9c9,
    673px 129px #c9c9c9, 794px 941px #c9c9c9, 1386px 1902px #c9c9c9, 37px 1353px #c9c9c9,
    1467px 1353px #c9c9c9, 416px 18px #c9c9c9, 187px 344px #c9c9c9, 200px 1898px #c9c9c9,
    1491px 1619px #c9c9c9, 811px 347px #c9c9c9, 924px 1827px #c9c9c9, 945px 217px #c9c9c9,
    1735px 1228px #c9c9c9, 379px 1890px #c9c9c9, 79px 761px #c9c9c9, 825px 1837px #c9c9c9,
    1980px 1558px #c9c9c9, 1308px 1573px #c9c9c9, 1488px 1726px #c9c9c9,
    382px 1208px #c9c9c9, 522px 595px #c9c9c9, 1277px 1898px #c9c9c9, 354px 552px #c9c9c9,
    161px 1784px #c9c9c9, 614px 251px #c9c9c9, 526px 1576px #c9c9c9, 17px 212px #c9c9c9,
    179px 996px #c9c9c9, 467px 1208px #c9c9c9, 1944px 1838px #c9c9c9, 1140px 1093px #c9c9c9,
    858px 1007px #c9c9c9, 200px 1064px #c9c9c9, 423px 1964px #c9c9c9, 1945px 439px #c9c9c9,
    1377px 689px #c9c9c9, 1120px 1437px #c9c9c9, 1876px 668px #c9c9c9, 907px 1324px #c9c9c9,
    343px 1976px #c9c9c9, 1816px 1501px #c9c9c9, 1849px 177px #c9c9c9, 647px 91px #c9c9c9,
    1984px 1012px #c9c9c9, 1336px 1300px #c9c9c9, 128px 648px #c9c9c9, 305px 1060px #c9c9c9,
    1324px 826px #c9c9c9, 1263px 1314px #c9c9c9, 1801px 629px #c9c9c9, 1614px 1555px #c9c9c9,
    1634px 90px #c9c9c9, 1603px 452px #c9c9c9, 891px 1984px #c9c9c9, 1556px 1906px #c9c9c9,
    121px 68px #c9c9c9, 1676px 1714px #c9c9c9, 516px 936px #c9c9c9, 1947px 1492px #c9c9c9,
    1455px 1519px #c9c9c9, 45px 602px #c9c9c9, 205px 1039px #c9c9c9, 793px 172px #c9c9c9,
    1562px 1739px #c9c9c9, 1056px 110px #c9c9c9, 1512px 379px #c9c9c9, 1795px 1621px #c9c9c9,
    1848px 607px #c9c9c9, 262px 1719px #c9c9c9, 477px 991px #c9c9c9, 483px 883px #c9c9c9,
    1239px 1197px #c9c9c9, 1496px 647px #c9c9c9, 1649px 25px #c9c9c9, 1491px 1946px #c9c9c9,
    119px 996px #c9c9c9, 179px 1472px #c9c9c9, 1341px 808px #c9c9c9, 1565px 1700px #c9c9c9,
    407px 1544px #c9c9c9, 1754px 357px #c9c9c9, 1288px 981px #c9c9c9, 902px 1997px #c9c9c9,
    1755px 1668px #c9c9c9, 186px 877px #c9c9c9, 1202px 1882px #c9c9c9, 461px 1213px #c9c9c9,
    1400px 748px #c9c9c9, 1969px 1899px #c9c9c9, 809px 522px #c9c9c9, 514px 1219px #c9c9c9,
    374px 275px #c9c9c9, 938px 1973px #c9c9c9, 357px 552px #c9c9c9, 144px 1722px #c9c9c9,
    1572px 912px #c9c9c9, 402px 1858px #c9c9c9, 1544px 1195px #c9c9c9, 667px 1257px #c9c9c9,
    727px 1496px #c9c9c9, 993px 232px #c9c9c9, 1772px 313px #c9c9c9, 1040px 1590px #c9c9c9,
    1204px 1973px #c9c9c9, 1268px 79px #c9c9c9, 1555px 1048px #c9c9c9, 986px 1707px #c9c9c9,
    978px 1710px #c9c9c9, 713px 360px #c9c9c9, 407px 863px #c9c9c9, 461px 736px #c9c9c9,
    284px 1608px #c9c9c9, 103px 430px #c9c9c9, 1283px 1319px #c9c9c9, 977px 1186px #c9c9c9,
    1966px 1516px #c9c9c9, 1287px 1129px #c9c9c9, 70px 1098px #c9c9c9, 1189px 889px #c9c9c9,
    1126px 1734px #c9c9c9, 309px 1292px #c9c9c9, 879px 764px #c9c9c9, 65px 473px #c9c9c9,
    1003px 1959px #c9c9c9, 658px 791px #c9c9c9, 402px 1576px #c9c9c9, 35px 622px #c9c9c9,
    529px 1589px #c9c9c9, 164px 666px #c9c9c9, 1876px 1290px #c9c9c9, 1541px 526px #c9c9c9,
    270px 1297px #c9c9c9, 440px 865px #c9c9c9, 1500px 802px #c9c9c9, 182px 1754px #c9c9c9,
    1264px 892px #c9c9c9, 272px 1249px #c9c9c9, 1289px 1535px #c9c9c9, 190px 1646px #c9c9c9,
    955px 242px #c9c9c9, 1456px 1597px #c9c9c9, 1727px 1983px #c9c9c9, 635px 801px #c9c9c9,
    226px 455px #c9c9c9, 1396px 1710px #c9c9c9, 849px 1863px #c9c9c9, 237px 1264px #c9c9c9,
    839px 140px #c9c9c9, 1122px 735px #c9c9c9, 1280px 15px #c9c9c9, 1318px 242px #c9c9c9,
    1819px 1148px #c9c9c9, 333px 1392px #c9c9c9, 1949px 553px #c9c9c9, 1878px 1332px #c9c9c9,
    467px 548px #c9c9c9, 1812px 1082px #c9c9c9, 1067px 193px #c9c9c9, 243px 156px #c9c9c9,
    483px 1616px #c9c9c9, 1714px 933px #c9c9c9, 759px 1800px #c9c9c9, 1822px 995px #c9c9c9,
    1877px 572px #c9c9c9, 581px 1084px #c9c9c9, 107px 732px #c9c9c9, 642px 1837px #c9c9c9,
    166px 1493px #c9c9c9, 1555px 198px #c9c9c9, 819px 307px #c9c9c9, 947px 345px #c9c9c9,
    827px 224px #c9c9c9, 927px 1394px #c9c9c9, 540px 467px #c9c9c9, 1093px 405px #c9c9c9,
    1140px 927px #c9c9c9, 130px 529px #c9c9c9, 33px 1980px #c9c9c9, 1147px 1663px #c9c9c9,
    1616px 1436px #c9c9c9, 528px 710px #c9c9c9, 798px 1100px #c9c9c9, 505px 1480px #c9c9c9,
    899px 641px #c9c9c9, 1909px 1949px #c9c9c9, 1311px 964px #c9c9c9, 979px 1301px #c9c9c9,
    1393px 969px #c9c9c9, 1793px 1886px #c9c9c9, 292px 357px #c9c9c9, 1196px 1718px #c9c9c9,
    1290px 1994px #c9c9c9, 537px 1973px #c9c9c9, 1181px 1674px #c9c9c9,
    1740px 1566px #c9c9c9, 1307px 265px #c9c9c9, 922px 522px #c9c9c9, 1892px 472px #c9c9c9,
    384px 1746px #c9c9c9, 392px 1098px #c9c9c9, 647px 548px #c9c9c9, 390px 1498px #c9c9c9,
    1246px 138px #c9c9c9, 730px 876px #c9c9c9, 192px 1472px #c9c9c9, 1790px 1789px #c9c9c9,
    928px 311px #c9c9c9, 1253px 1647px #c9c9c9, 747px 1921px #c9c9c9, 1561px 1025px #c9c9c9,
    1533px 1292px #c9c9c9, 1985px 195px #c9c9c9, 728px 729px #c9c9c9, 1712px 1936px #c9c9c9,
    512px 1717px #c9c9c9, 1528px 483px #c9c9c9, 313px 1642px #c9c9c9, 281px 1849px #c9c9c9,
    1212px 799px #c9c9c9, 435px 1191px #c9c9c9, 1422px 611px #c9c9c9, 1718px 1964px #c9c9c9,
    411px 944px #c9c9c9, 210px 636px #c9c9c9, 1502px 1295px #c9c9c9, 1434px 349px #c9c9c9,
    769px 60px #c9c9c9, 747px 1053px #c9c9c9, 789px 504px #c9c9c9, 1436px 1264px #c9c9c9,
    1893px 1225px #c9c9c9, 1394px 1788px #c9c9c9, 1108px 1317px #c9c9c9,
    1673px 1395px #c9c9c9, 854px 1010px #c9c9c9, 1705px 80px #c9c9c9, 1858px 148px #c9c9c9,
    1729px 344px #c9c9c9, 1388px 664px #c9c9c9, 895px 406px #c9c9c9, 1479px 157px #c9c9c9,
    1441px 1157px #c9c9c9, 552px 1900px #c9c9c9, 516px 364px #c9c9c9, 1647px 189px #c9c9c9,
    1427px 1071px #c9c9c9, 785px 729px #c9c9c9, 1080px 1710px #c9c9c9, 504px 204px #c9c9c9,
    1177px 1622px #c9c9c9, 657px 34px #c9c9c9, 1296px 1099px #c9c9c9, 248px 180px #c9c9c9,
    1212px 1568px #c9c9c9, 667px 1562px #c9c9c9, 695px 841px #c9c9c9, 1608px 1247px #c9c9c9,
    751px 882px #c9c9c9, 87px 167px #c9c9c9, 607px 1368px #c9c9c9, 1363px 1203px #c9c9c9,
    1836px 317px #c9c9c9, 1668px 1703px #c9c9c9, 830px 1154px #c9c9c9, 1721px 1398px #c9c9c9,
    1601px 1280px #c9c9c9, 976px 874px #c9c9c9, 1743px 254px #c9c9c9, 1020px 1815px #c9c9c9,
    1670px 1766px #c9c9c9, 1890px 735px #c9c9c9, 1379px 136px #c9c9c9, 1864px 695px #c9c9c9,
    206px 965px #c9c9c9, 1404px 1932px #c9c9c9, 1923px 1360px #c9c9c9, 247px 682px #c9c9c9,
    519px 1708px #c9c9c9, 645px 750px #c9c9c9, 1164px 1204px #c9c9c9, 834px 323px #c9c9c9,
    172px 1350px #c9c9c9, 213px 972px #c9c9c9, 1837px 190px #c9c9c9, 285px 1806px #c9c9c9,
    1047px 1299px #c9c9c9, 1548px 825px #c9c9c9, 1730px 324px #c9c9c9, 1346px 1909px #c9c9c9,
    772px 270px #c9c9c9, 345px 1190px #c9c9c9, 478px 1433px #c9c9c9, 1479px 25px #c9c9c9,
    1994px 1830px #c9c9c9, 1744px 732px #c9c9c9, 20px 1635px #c9c9c9, 690px 1795px #c9c9c9,
    1594px 569px #c9c9c9, 579px 245px #c9c9c9, 1398px 733px #c9c9c9, 408px 1352px #c9c9c9,
    1774px 120px #c9c9c9, 1152px 1370px #c9c9c9, 1698px 1810px #c9c9c9, 710px 1450px #c9c9c9,
    665px 286px #c9c9c9, 493px 1720px #c9c9c9, 786px 5px #c9c9c9, 637px 1140px #c9c9c9,
    764px 324px #c9c9c9, 927px 310px #c9c9c9, 938px 1424px #c9c9c9, 1884px 744px #c9c9c9,
    913px 462px #c9c9c9, 1831px 1936px #c9c9c9, 1527px 249px #c9c9c9, 36px 1381px #c9c9c9,
    1597px 581px #c9c9c9, 1530px 355px #c9c9c9, 949px 459px #c9c9c9, 799px 828px #c9c9c9,
    242px 1471px #c9c9c9, 654px 797px #c9c9c9, 796px 594px #c9c9c9, 1365px 678px #c9c9c9,
    752px 23px #c9c9c9, 1630px 541px #c9c9c9, 982px 72px #c9c9c9, 1733px 1831px #c9c9c9,
    21px 412px #c9c9c9, 775px 998px #c9c9c9, 335px 1945px #c9c9c9, 264px 583px #c9c9c9,
    158px 1311px #c9c9c9, 528px 164px #c9c9c9, 1978px 574px #c9c9c9, 717px 1203px #c9c9c9,
    734px 1591px #c9c9c9, 1555px 820px #c9c9c9, 16px 1943px #c9c9c9, 1625px 1177px #c9c9c9,
    1236px 690px #c9c9c9, 1585px 1590px #c9c9c9, 1737px 1728px #c9c9c9, 721px 698px #c9c9c9,
    1804px 1186px #c9c9c9, 166px 980px #c9c9c9, 1850px 230px #c9c9c9, 330px 1712px #c9c9c9,
    95px 797px #c9c9c9, 1948px 1078px #c9c9c9, 469px 939px #c9c9c9, 1269px 1899px #c9c9c9,
    955px 1220px #c9c9c9, 1137px 1075px #c9c9c9, 312px 1293px #c9c9c9, 986px 1762px #c9c9c9,
    1103px 1238px #c9c9c9, 428px 1993px #c9c9c9, 355px 570px #c9c9c9, 977px 1836px #c9c9c9,
    1395px 1092px #c9c9c9, 276px 913px #c9c9c9, 1743px 656px #c9c9c9, 773px 502px #c9c9c9,
    1686px 1322px #c9c9c9, 1516px 1945px #c9c9c9, 1334px 501px #c9c9c9, 266px 156px #c9c9c9,
    455px 655px #c9c9c9, 798px 72px #c9c9c9, 1059px 1259px #c9c9c9, 1402px 1687px #c9c9c9,
    236px 1329px #c9c9c9, 1455px 786px #c9c9c9, 146px 1228px #c9c9c9, 1851px 823px #c9c9c9,
    1062px 100px #c9c9c9, 1220px 953px #c9c9c9, 20px 1826px #c9c9c9, 36px 1063px #c9c9c9,
    1525px 338px #c9c9c9, 790px 1521px #c9c9c9, 741px 1099px #c9c9c9, 288px 1489px #c9c9c9,
    700px 1060px #c9c9c9, 390px 1071px #c9c9c9, 411px 1036px #c9c9c9, 1853px 1072px #c9c9c9,
    1446px 1085px #c9c9c9, 1164px 874px #c9c9c9, 924px 925px #c9c9c9, 291px 271px #c9c9c9,
    1257px 1964px #c9c9c9, 1580px 1352px #c9c9c9, 1507px 1216px #c9c9c9, 211px 956px #c9c9c9,
    985px 1195px #c9c9c9, 975px 1640px #c9c9c9, 518px 101px #c9c9c9, 663px 1395px #c9c9c9,
    914px 532px #c9c9c9, 145px 1320px #c9c9c9, 69px 1397px #c9c9c9, 982px 523px #c9c9c9,
    257px 725px #c9c9c9, 1599px 831px #c9c9c9, 1636px 1513px #c9c9c9, 1250px 1158px #c9c9c9,
    1132px 604px #c9c9c9, 183px 102px #c9c9c9, 1057px 318px #c9c9c9, 1247px 1835px #c9c9c9,
    1983px 1110px #c9c9c9, 1077px 1455px #c9c9c9, 921px 1770px #c9c9c9, 806px 1350px #c9c9c9,
    1938px 1992px #c9c9c9, 855px 1260px #c9c9c9, 902px 1345px #c9c9c9, 658px 1908px #c9c9c9,
    1845px 679px #c9c9c9, 712px 1482px #c9c9c9, 595px 950px #c9c9c9, 1784px 1992px #c9c9c9,
    1847px 1785px #c9c9c9, 691px 1004px #c9c9c9, 175px 1179px #c9c9c9, 1666px 1911px #c9c9c9,
    41px 61px #c9c9c9, 971px 1080px #c9c9c9, 1830px 1450px #c9c9c9, 1351px 1518px #c9c9c9,
    1257px 99px #c9c9c9, 1395px 1498px #c9c9c9, 1117px 252px #c9c9c9, 1779px 597px #c9c9c9,
    1346px 729px #c9c9c9, 1108px 1144px #c9c9c9, 402px 691px #c9c9c9, 72px 496px #c9c9c9,
    1673px 1604px #c9c9c9, 1497px 974px #c9c9c9, 1865px 1664px #c9c9c9, 88px 806px #c9c9c9,
    918px 77px #c9c9c9, 244px 1118px #c9c9c9, 256px 1820px #c9c9c9, 1851px 1840px #c9c9c9,
    605px 1851px #c9c9c9, 634px 383px #c9c9c9, 865px 37px #c9c9c9, 943px 1024px #c9c9c9,
    1951px 177px #c9c9c9, 1097px 523px #c9c9c9, 985px 1700px #c9c9c9, 1243px 122px #c9c9c9,
    768px 1070px #c9c9c9, 468px 194px #c9c9c9, 320px 1867px #c9c9c9, 1850px 185px #c9c9c9,
    380px 1616px #c9c9c9, 468px 1294px #c9c9c9, 1122px 1743px #c9c9c9, 884px 299px #c9c9c9,
    1300px 1917px #c9c9c9, 1860px 396px #c9c9c9, 1270px 990px #c9c9c9, 529px 733px #c9c9c9,
    1975px 1347px #c9c9c9, 1885px 685px #c9c9c9, 226px 506px #c9c9c9, 651px 878px #c9c9c9,
    1323px 680px #c9c9c9, 1284px 680px #c9c9c9, 238px 1967px #c9c9c9, 911px 174px #c9c9c9,
    1111px 521px #c9c9c9, 1150px 85px #c9c9c9, 794px 502px #c9c9c9, 484px 1856px #c9c9c9,
    1809px 368px #c9c9c9, 112px 953px #c9c9c9, 590px 1009px #c9c9c9, 1655px 311px #c9c9c9,
    100px 1026px #c9c9c9, 1803px 352px #c9c9c9, 865px 306px #c9c9c9, 1077px 1019px #c9c9c9,
    1335px 872px #c9c9c9, 1647px 1298px #c9c9c9, 1233px 1387px #c9c9c9, 698px 1036px #c9c9c9,
    659px 1860px #c9c9c9, 388px 1412px #c9c9c9, 1212px 458px #c9c9c9, 755px 1468px #c9c9c9,
    696px 1654px #c9c9c9, 1144px 60px #c9c9c9;
}

#stars2 {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 100s linear infinite;
    box-shadow: 686px 770px #c9c9c9, 1721px 267px #c9c9c9, 1663px 511px #c9c9c9, 1481px 1141px #c9c9c9,
    582px 248px #c9c9c9, 1308px 953px #c9c9c9, 628px 657px #c9c9c9, 897px 1535px #c9c9c9,
    270px 931px #c9c9c9, 791px 467px #c9c9c9, 1336px 1732px #c9c9c9, 1013px 1653px #c9c9c9,
    1911px 956px #c9c9c9, 587px 816px #c9c9c9, 83px 456px #c9c9c9, 930px 1478px #c9c9c9,
    1587px 1694px #c9c9c9, 614px 1200px #c9c9c9, 302px 1782px #c9c9c9, 1711px 1432px #c9c9c9,
    443px 904px #c9c9c9, 1666px 714px #c9c9c9, 1588px 1167px #c9c9c9, 273px 1075px #c9c9c9,
    1679px 461px #c9c9c9, 721px 664px #c9c9c9, 1202px 10px #c9c9c9, 166px 1126px #c9c9c9,
    331px 1628px #c9c9c9, 430px 1565px #c9c9c9, 1585px 509px #c9c9c9, 640px 38px #c9c9c9,
    822px 837px #c9c9c9, 1760px 1664px #c9c9c9, 1122px 1458px #c9c9c9, 398px 131px #c9c9c9,
    689px 285px #c9c9c9, 460px 652px #c9c9c9, 1627px 365px #c9c9c9, 348px 1648px #c9c9c9,
    819px 1946px #c9c9c9, 981px 1917px #c9c9c9, 323px 76px #c9c9c9, 979px 684px #c9c9c9,
    887px 536px #c9c9c9, 1348px 1596px #c9c9c9, 1055px 666px #c9c9c9, 1402px 1797px #c9c9c9,
    1300px 1055px #c9c9c9, 937px 238px #c9c9c9, 1474px 1815px #c9c9c9, 1144px 1710px #c9c9c9,
    1629px 1087px #c9c9c9, 911px 919px #c9c9c9, 771px 819px #c9c9c9, 403px 720px #c9c9c9,
    163px 736px #c9c9c9, 1062px 238px #c9c9c9, 1774px 818px #c9c9c9, 1874px 1178px #c9c9c9,
    1177px 699px #c9c9c9, 1244px 1244px #c9c9c9, 1371px 58px #c9c9c9, 564px 1515px #c9c9c9,
    1824px 487px #c9c9c9, 929px 702px #c9c9c9, 394px 1348px #c9c9c9, 1161px 641px #c9c9c9,
    219px 1841px #c9c9c9, 358px 941px #c9c9c9, 140px 1759px #c9c9c9, 1019px 1345px #c9c9c9,
    274px 436px #c9c9c9, 1433px 1605px #c9c9c9, 1798px 1426px #c9c9c9, 294px 1848px #c9c9c9,
    1681px 1877px #c9c9c9, 1344px 1824px #c9c9c9, 1439px 1632px #c9c9c9,
    161px 1012px #c9c9c9, 1308px 588px #c9c9c9, 1789px 582px #c9c9c9, 721px 1910px #c9c9c9,
    318px 218px #c9c9c9, 607px 319px #c9c9c9, 495px 535px #c9c9c9, 1552px 1575px #c9c9c9,
    1562px 67px #c9c9c9, 403px 926px #c9c9c9, 1096px 1800px #c9c9c9, 1814px 1709px #c9c9c9,
    1882px 1831px #c9c9c9, 533px 46px #c9c9c9, 823px 969px #c9c9c9, 530px 165px #c9c9c9,
    1030px 352px #c9c9c9, 1681px 313px #c9c9c9, 338px 115px #c9c9c9, 1607px 211px #c9c9c9,
    1718px 1184px #c9c9c9, 1589px 659px #c9c9c9, 278px 355px #c9c9c9, 464px 1464px #c9c9c9,
    1165px 277px #c9c9c9, 950px 694px #c9c9c9, 1746px 293px #c9c9c9, 793px 911px #c9c9c9,
    528px 773px #c9c9c9, 1883px 1694px #c9c9c9, 748px 182px #c9c9c9, 1924px 1531px #c9c9c9,
    100px 636px #c9c9c9, 1473px 1445px #c9c9c9, 1264px 1244px #c9c9c9, 850px 1377px #c9c9c9,
    987px 1976px #c9c9c9, 933px 1761px #c9c9c9, 922px 1270px #c9c9c9, 500px 396px #c9c9c9,
    1324px 8px #c9c9c9, 1967px 1814px #c9c9c9, 1072px 1401px #c9c9c9, 961px 37px #c9c9c9,
    156px 81px #c9c9c9, 1915px 502px #c9c9c9, 1076px 1846px #c9c9c9, 152px 1669px #c9c9c9,
    986px 1529px #c9c9c9, 1667px 1137px #c9c9c9;
}

#stars2:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 686px 770px #c9c9c9, 1721px 267px #c9c9c9, 1663px 511px #c9c9c9, 1481px 1141px #c9c9c9,
    582px 248px #c9c9c9, 1308px 953px #c9c9c9, 628px 657px #c9c9c9, 897px 1535px #c9c9c9,
    270px 931px #c9c9c9, 791px 467px #c9c9c9, 1336px 1732px #c9c9c9, 1013px 1653px #c9c9c9,
    1911px 956px #c9c9c9, 587px 816px #c9c9c9, 83px 456px #c9c9c9, 930px 1478px #c9c9c9,
    1587px 1694px #c9c9c9, 614px 1200px #c9c9c9, 302px 1782px #c9c9c9, 1711px 1432px #c9c9c9,
    443px 904px #c9c9c9, 1666px 714px #c9c9c9, 1588px 1167px #c9c9c9, 273px 1075px #c9c9c9,
    1679px 461px #c9c9c9, 721px 664px #c9c9c9, 1202px 10px #c9c9c9, 166px 1126px #c9c9c9,
    331px 1628px #c9c9c9, 430px 1565px #c9c9c9, 1585px 509px #c9c9c9, 640px 38px #c9c9c9,
    822px 837px #c9c9c9, 1760px 1664px #c9c9c9, 1122px 1458px #c9c9c9, 398px 131px #c9c9c9,
    689px 285px #c9c9c9, 460px 652px #c9c9c9, 1627px 365px #c9c9c9, 348px 1648px #c9c9c9,
    819px 1946px #c9c9c9, 981px 1917px #c9c9c9, 323px 76px #c9c9c9, 979px 684px #c9c9c9,
    887px 536px #c9c9c9, 1348px 1596px #c9c9c9, 1055px 666px #c9c9c9, 1402px 1797px #c9c9c9,
    1300px 1055px #c9c9c9, 937px 238px #c9c9c9, 1474px 1815px #c9c9c9, 1144px 1710px #c9c9c9,
    1629px 1087px #c9c9c9, 911px 919px #c9c9c9, 771px 819px #c9c9c9, 403px 720px #c9c9c9,
    163px 736px #c9c9c9, 1062px 238px #c9c9c9, 1774px 818px #c9c9c9, 1874px 1178px #c9c9c9,
    1177px 699px #c9c9c9, 1244px 1244px #c9c9c9, 1371px 58px #c9c9c9, 564px 1515px #c9c9c9,
    1824px 487px #c9c9c9, 929px 702px #c9c9c9, 394px 1348px #c9c9c9, 1161px 641px #c9c9c9,
    219px 1841px #c9c9c9, 358px 941px #c9c9c9, 140px 1759px #c9c9c9, 1019px 1345px #c9c9c9,
    274px 436px #c9c9c9, 1433px 1605px #c9c9c9, 1798px 1426px #c9c9c9, 294px 1848px #c9c9c9,
    1681px 1877px #c9c9c9, 1344px 1824px #c9c9c9, 1439px 1632px #c9c9c9,
    161px 1012px #c9c9c9, 1308px 588px #c9c9c9, 1789px 582px #c9c9c9, 721px 1910px #c9c9c9,
    318px 218px #c9c9c9, 607px 319px #c9c9c9, 495px 535px #c9c9c9, 1552px 1575px #c9c9c9,
    1562px 67px #c9c9c9, 403px 926px #c9c9c9, 1096px 1800px #c9c9c9, 1814px 1709px #c9c9c9,
    1882px 1831px #c9c9c9, 533px 46px #c9c9c9, 823px 969px #c9c9c9, 530px 165px #c9c9c9,
    1030px 352px #c9c9c9, 1681px 313px #c9c9c9, 338px 115px #c9c9c9, 1607px 211px #c9c9c9,
    1718px 1184px #c9c9c9, 1589px 659px #c9c9c9, 278px 355px #c9c9c9, 464px 1464px #c9c9c9,
    1165px 277px #c9c9c9, 950px 694px #c9c9c9, 1746px 293px #c9c9c9, 793px 911px #c9c9c9,
    528px 773px #c9c9c9, 1883px 1694px #c9c9c9, 748px 182px #c9c9c9, 1924px 1531px #c9c9c9,
    100px 636px #c9c9c9, 1473px 1445px #c9c9c9, 1264px 1244px #c9c9c9, 850px 1377px #c9c9c9,
    987px 1976px #c9c9c9, 933px 1761px #c9c9c9, 922px 1270px #c9c9c9, 500px 396px #c9c9c9,
    1324px 8px #c9c9c9, 1967px 1814px #c9c9c9, 1072px 1401px #c9c9c9, 961px 37px #c9c9c9,
    156px 81px #c9c9c9, 1915px 502px #c9c9c9, 1076px 1846px #c9c9c9, 152px 1669px #c9c9c9,
    986px 1529px #c9c9c9, 1667px 1137px #c9c9c9;
}

#stars3 {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 150s linear infinte;
    box-shadow:1546px 697px #c9c9c9, 674px 1155px #c9c9c9, 1112px 130px #c9c9c9, 355px 1790px #c9c9c9,
    1496px 974px #c9c9c9, 1696px 480px #c9c9c9, 1316px 1265px #c9c9c9, 1645px 1063px #c9c9c9,
    1182px 237px #c9c9c9, 427px 1582px #c9c9c9, 859px 253px #c9c9c9, 458px 939px #c9c9c9,
    1517px 1644px #c9c9c9, 1943px 60px #c9c9c9, 212px 1650px #c9c9c9, 966px 1786px #c9c9c9,
    473px 712px #c9c9c9, 130px 76px #c9c9c9, 1417px 1186px #c9c9c9, 909px 1580px #c9c9c9,
    1913px 762px #c9c9c9, 204px 1143px #c9c9c9, 1998px 1057px #c9c9c9, 1468px 1301px #c9c9c9,
    144px 1676px #c9c9c9, 21px 1601px #c9c9c9, 382px 1362px #c9c9c9, 912px 753px #c9c9c9,
    1488px 1405px #c9c9c9, 802px 156px #c9c9c9, 174px 550px #c9c9c9, 338px 1366px #c9c9c9,
    1197px 774px #c9c9c9, 602px 486px #c9c9c9, 682px 1877px #c9c9c9, 348px 1503px #c9c9c9,
    407px 1139px #c9c9c9, 950px 1400px #c9c9c9, 922px 1139px #c9c9c9, 1697px 293px #c9c9c9,
    1238px 1281px #c9c9c9, 1038px 1197px #c9c9c9, 376px 1889px #c9c9c9,
    1255px 1680px #c9c9c9, 1008px 1316px #c9c9c9, 1538px 1447px #c9c9c9,
    1186px 874px #c9c9c9, 1967px 640px #c9c9c9, 1341px 19px #c9c9c9, 29px 1732px #c9c9c9,
    16px 1650px #c9c9c9, 1021px 1075px #c9c9c9, 723px 424px #c9c9c9, 1175px 41px #c9c9c9,
    494px 1957px #c9c9c9, 1296px 431px #c9c9c9, 175px 1507px #c9c9c9, 831px 121px #c9c9c9,
    498px 1947px #c9c9c9, 617px 880px #c9c9c9, 240px 403px #c9c9c9;
}

#stars3:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow:1546px 697px #c9c9c9, 674px 1155px #c9c9c9, 1112px 130px #c9c9c9, 355px 1790px #c9c9c9,
    1496px 974px #c9c9c9, 1696px 480px #c9c9c9, 1316px 1265px #c9c9c9, 1645px 1063px #c9c9c9,
    1182px 237px #c9c9c9, 427px 1582px #c9c9c9, 859px 253px #c9c9c9, 458px 939px #c9c9c9,
    1517px 1644px #c9c9c9, 1943px 60px #c9c9c9, 212px 1650px #c9c9c9, 966px 1786px #c9c9c9,
    473px 712px #c9c9c9, 130px 76px #c9c9c9, 1417px 1186px #c9c9c9, 909px 1580px #c9c9c9,
    1913px 762px #c9c9c9, 204px 1143px #c9c9c9, 1998px 1057px #c9c9c9, 1468px 1301px #c9c9c9,
    144px 1676px #c9c9c9, 21px 1601px #c9c9c9, 382px 1362px #c9c9c9, 912px 753px #c9c9c9,
    1488px 1405px #c9c9c9, 802px 156px #c9c9c9, 174px 550px #c9c9c9, 338px 1366px #c9c9c9,
    1197px 774px #c9c9c9, 602px 486px #c9c9c9, 682px 1877px #c9c9c9, 348px 1503px #c9c9c9,
    407px 1139px #c9c9c9, 950px 1400px #c9c9c9, 922px 1139px #c9c9c9, 1697px 293px #c9c9c9,
    1238px 1281px #c9c9c9, 1038px 1197px #c9c9c9, 376px 1889px #c9c9c9,
    1255px 1680px #c9c9c9, 1008px 1316px #c9c9c9, 1538px 1447px #c9c9c9,
    1186px 874px #c9c9c9, 1967px 640px #c9c9c9, 1341px 19px #c9c9c9, 29px 1732px #c9c9c9,
    16px 1650px #c9c9c9, 1021px 1075px #c9c9c9, 723px 424px #c9c9c9, 1175px 41px #c9c9c9,
    494px 1957px #c9c9c9, 1296px 431px #c9c9c9, 175px 1507px #c9c9c9, 831px 121px #c9c9c9,
    498px 1947px #c9c9c9, 617px 880px #c9c9c9, 240px 403px #c9c9c9;
}


@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}



/* for navbar */

  nav ul {
    list-style: none;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    color: #aaa;
    padding-bottom: 10px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .4s;
  }
  nav ul li a:hover {
    color: #555;
  }

  nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* contact us button  */

.box {
    width: 140px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    background: transparent;
    top: -5px;
  }
  
  .box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  
  .box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .box:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  
  .box:hover:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
  }
  
  button {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }

  /* glass effect */

  .glass{
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  /* hello button */

  .button2 {
    background: #212121;
    fill: rgb(155, 153, 153);
    padding: 0.3em 0.5em;
    /* padding-left: 0.9em; */
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 15px;
  }
  
  .button2 span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  .button2 .fa-solid{
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .button2:hover {
    background: #000;
  }
  
  .button2:hover .svg-wrapper {
    transform: scale(1.25);
    transition: 0.5s linear;
  }
  
  .button2:hover .fa-solid {
    transform: translateX(0.9em) scale(1.1);
    color: #ffc83d;
  }
  
  .button2:hover span {
    opacity: 0;
    transition: 0.5s linear;
  }
  
  .button2:active {
    transform: scale(0.95);
  }

  /* // scrol bar */

  
body {
  --sb-track-color: #888888;
  --sb-thumb-color: #0e0e0e;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) 
                   var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size) 
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 11px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 11px;
  
  }
  